@import "tailwindcss";



html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#homepagebody {
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(assets/background.jpg);
     background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}



.container {
    width: min(1200px 92%);
    margin: 0 auto;
}

/* NAVBAR */
.navbar {
    position: static;
    display: flex;
    top: 0;
    z-index: 20;
    padding: 14px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    /* background-color: red; */

}

.nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: auto;
}

.logo {
    width: 60px;
    height: 60px;
    /* background: white; */
    /* color: white; */
    /* font-weight: 700;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; */
    background-image: url(assets/logo.png);
}

.brand-text {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 30px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

/* nav links */
.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
    opacity: 0.9;
}

.nav-links a {
    color: #ddd;
    font-size: 14px;
    cursor: pointer;
    width: 100px;

}

/*auth buttons */
.auth-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: auto;
}

.btn-outline {
    padding: 8px 14px;
    border-radius: 12px;
    border: 2px solid rgb(23, 15, 174);
    background: white;
    color: black;
    cursor: pointer;
    font-weight: 600;
    font-family: sans-serif;
}

.btn-primary {
    padding: 8px 14px;
    border-radius: 12px;
    border: 1px solid white;
    background: linear-gradient(180deg, var(--accent), #5a21ff);
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-family: sans-serif;


}
